{{ define "head" }}
{{ end }}

{{ define "body" }}
<h3>Add a new recipe!</h3>
<form action="/add/" method="post">
	<label for="title">
		Title
		<input type="text" id="title" name="title" placeholder="Title of your recipe..." required>
	</label>
	<label for="book">
		Book
		<input type="text" id="book" name="book" placeholder="Title of the book..." required>
	</label>
	<label for="pageNum">
		Page Number
		<input type="number" id="pageNum" name="pageNum" required>
	<label for="date">
		Last Made
		<input type="date" id="date" name="date">
	</label>
	<label for="notes">
		Notes
		<textarea
			type="textarea"
			id="notes"
			name="notes"
			placeholder="Notes for this recipe..."
			style="white-space: pre-line;">
		</textarea>
	</label>
	<button type="submit">Add Recipe!</button>
</form>
{{ end }}
