{{ define "head" }}
{{ end }}

{{ define "body" }}
<article>
<hgroup>
	<h3>{{ .Recipe.Title }}</h3>
	<p><strong><i>{{ .Recipe.Book }}</i></strong> p. {{ .Recipe.PageNum }}</p>
</hgroup>
<form action="/recipe/{{ .Recipe.Id }}" method="post">
	<label for="date">
		Last Made
		<input type="date" id="date" name="date" value="{{ .Recipe.LastMade }}">
	</label>
	<label for="notes">
		Notes
		<small>Each note should start with an asterisk (*) like a bulleted list!</small>
		<textarea
			type="textarea"
			id="notes"
			name="notes"
			placeholder="Notes for this recipe..."
			style="white-space: pre-line;">
			{{ range .Recipe.Notes }} * {{ . }} 
			{{ end }}
		</textarea>
	</label>
	<div class="grid">
		<button type="submit">Submit Notes</button>
		<a class="cancel" href="/recipe/delete/{{ .Recipe.Id }}"><button type="button" class="contrast">Delete</button></a>
	</div>
</form>
</article>
{{ end }}
